---

// Import components
import PostCard from '../components/PostCard.astro';

// Get and sort posts by date
export interface Props {
	posts: any
}
let { posts } = Astro.props;

// Get first post
const [firstPost] = posts;

// Limit number of posts
const limit = 7
posts = posts.slice(1, limit)


---
<section class="posts mt-20">
	<h2 class="text-4xl text-center mb-5 font-bold">Últimos Posts</h2>
	<PostCard 
		title={firstPost.data.title}
		category={firstPost.data.category}
		description={firstPost.data.description}
		heroImage={firstPost.data.heroImage}
		slug={firstPost.slug}
		pubDate={firstPost.data.pubDate}
		author={firstPost.data.author}
		extraClass="col-span-1 sm:col-span-2 md:col-span-3 mb-5 sm:mb-10 md:px-10 lg:px-20"
	/>
	<div class="posts grid-cols-1 grid gap-6 sm:grid-cols-2 md:grid-cols-3 md:gap-10">
		{
			posts.map((post) => (
				<PostCard 
					title={post.data.title}
					category={post.data.category}
					description={post.data.description}
					heroImage={post.data.heroImage}
					slug={post.slug}
					pubDate={post.data.pubDate}
					author={post.data.author}
				/>
			))
		}
	</div>
</section>